.advantages {
    margin-bottom: 3vw;
    @media (min-width: 1440px) {
        margin-bottom: 43.2px;
    }

    &__item {
        font-size: 0.1vw;
        margin-bottom: 4vw;
        @media (min-width: 576px) {
            &:hover .advantages__text {
                opacity: 1;
            }
        }
        @media (min-width: 768px) {
            margin-bottom: 3vw;
        }
        @media (min-width: 992px) {
            margin-bottom: 32px;
        }
    }
    &__pic {
        position: relative;
        margin-bottom: 3vw;
        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
        & img {
            width: 100%;
            border-radius: 20px;
        }
    }

    &__text {
        display: none;
        @media (min-width: 576px) {
            display: flex;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000000e6;
            opacity: 0;
            transition: opacity 0.5s;
            line-height: 1.2;
            padding: 4%;
            font-size: 27em;
        }
        @media (min-width: 768px) {
            font-size: 18em;
        }
        @media (min-width: 992px) {
            font-size: 13em;
        }
        @media (min-width: 1231px) {
            font-size: 16px;
        }
    }

    &__title {
        text-align: center;
        color: #a3a3a3;
        font-size: 14px;
        line-height: 1.3;
        @media (min-width: 483px) {
            font-size: 29em;
        }
        @media (min-width: 768px) {
            font-size: 21em;
        }
        @media (min-width: 992px) {
            font-size: 14em;
        }
        @media (min-width: 1286px) {
            font-size: 18px;
        }
    }
}
