.catalog {
    margin-bottom: 3em;

    &__item {
        width: 90%;
        margin: 0 auto;
        position: relative;
        opacity: 0.2;
        transition: transform 0.5s ease-out;
        font-size: 0.9vw;
        pointer-events: none;
        &.__active {
            transform: scale(1.111, 1.111);
            opacity: 1;
            z-index: 2;
            pointer-events: auto;
        }
    }
}
