.features {
    &__parameters {
        margin-bottom: 1em;
        font-size: 1.2em;
        & li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &__property {
        font-weight: 800;
    }

    &__line {
        display: block;
        flex-grow: 1;
        border-bottom: 1px dashed #171717;
        margin: 0.4em;
    }

    &__star {
        margin: 0 0.5em 0.15em 0;
        width: 0.9em;
    }

    &__advantages {
        font-size: 1.2em;
        & li {
            display: flex;
            align-items: center;
        }
    }
}
