.title {
    font-size: 8vw;
    margin-bottom: 4vw;
    text-align: center;
    line-height: 1.3;
    font-weight: 700;
    @media (min-width: 768px) {
        font-size: 4vw;
        margin-bottom: 2vw;
        text-align: left;
    }
    @media (min-width: 1440px) {
        font-size: 57.6px;
        margin-bottom: 28.8px;
    }
}
